<div id="editors-template" class="hidden">
    <div class="card-content">
        <div class="survey-content-wrapper">
            <div class="survey-content">

                <!-- task description and hints -->
                <p class="task-description">Hier sollte eine Aufgabenstellung für eine Microtask-Aufgabe stehen!</p>
                <small class="tools-description text-muted">Links: Lösung mit der höchsten Zustimmung unter den Teilnehmern - Rechts: Lösung, deren Zustimmung, am nähesten der 50%-Marke</small>

                <!-- editor -->
                <div class="task-wrapper">
                    <div class="editors">
                        <div class="editor-container editor-container-correct editor-container-md">
                        </div>
                        <div class="editor-container editor-container-controversial editor-container-md">
                        </div>
                    </div>
                    <div class="progress-bars">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 0;" aria-valuenow="0"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 0;" aria-valuenow="0"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>