<div id="microtask-discussion" class="hidden">
    <div class="card-content">
        <div class="survey-content-wrapper">
            <div class="survey-content">

                <!-- task description and hints -->
                <p class="task-description">Hier sollte eine Aufgabenstellung für eine Microtask-Aufgabe stehen!</p>

                <!-- editor -->
                <div class="task-wrapper">
                    <div class="editor-container editor-container-correct editor-container-md">
                    </div>
                    <div
                        class="editor-container editor-container-controversial editor-container-md">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>