<div id="microtask-discussion" class="survey-content-wrapper">
    <div class="survey-content">

        <!-- task description and hints -->
        <p class="task-description">Hier sollte eine Aufgabenstellung für eine Microtask-Aufgabe stehen!</p>

        <!-- editor -->
        <div class="task-wrapper">
            <div class="editor-container editor-container-md editor-container-md1"></div>
            <div class="editor-container editor-container-md editor-container-md2"></div>
        </div>

    </div>
</div>