<div id="microtask-reveal" class="survey-content-wrapper hidden">
    <div class="survey-content">

        <!-- task description and hints -->
        <p class="task-description">Hier sollte eine Aufgabenstellung für eine Microtask-Aufgabe stehen. Bewerten Sie den vorgegebenen Code als korrekt oder inkorrekt!</p>

        <!-- editor -->
        <div class="task-wrapper">
            <div class="editor-container editor-container-correct editor-container-mr"></div>
        </div>

    </div>
</div>