<div id="microtask-solve" class="survey-content-wrapper">
    <div class="survey-content">

        <!-- task description and hints -->
        <p class="task-description">Hier sollte eine Aufgabenstellung für eine Microtask-Aufgabe stehen. Bearbeiten Sie den vorgegebenen Code!</p>

        <!-- editor -->
        <div class="task-wrapper">
            <div class="editor-container editor-container-ms"></div>
        </div>

    </div>
</div>