<div id="syntax-highlighting-discussion" class="survey-content-wrapper hidden">
    <div class="card-content">
        <div class="survey-content-wrapper">
            <div class="survey-content">

                <p class="task-description">Do this do that and then finally do that so you can do this!</p>
                <p class="tool-description text-muted">Die meist gehighlighteten Stellen sind farblich markiert</p>

                <div class="task-wrapper">
                    <div class="editor-container editor-container-sd"></div>
                </div>

            </div>
        </div>
    </div>
</div>