<div id="syntax-highlighting-solve" class="">

    <p class="task-description">Do this do that and then finally do that so you can do this!</p>

    <div class="task-wrapper">
        <div class="editor-container"></div>
        <div class="tools-wrapper"></div>
    </div>

    <div class="btn-wrapper">
        <button type="submit" class="btn btn-primary-color">Lösung abgeben &gt</button>
    </div>

</div>