<div id="syntax-highlighting-solve" class="survey-content-wrapper hidden">
    <div class="survey-content">

        <p class="task-description">Do this do that and then finally do that so you can do this!</p>
        <p class="tool-description text-muted">Markiere eine Stelle im Code und drücke danach auf das Markier-Tool, um
            die ausgewählte Stelle zu markieren</p>

        <div class="task-wrapper">
            <div class="editor-container editor-container-ss"></div>
            <div class="tools-wrapper">
                <div class="btn-wrapper"><button class="btn btn-primary-color highlight-tool">M</button></div>
                <div class="btn-wrapper"><button class="btn btn-primary-color erase-tool">E</button></div>
            </div>
        </div>

    </div>
</div>