<div id="syntax-highlighting-discussion" class="survey-content-wrapper hidden">
    <div class="survey-content">

        <p class="task-description">Do this do that and then finally do that so you can do this!</p>

        <div class="task-wrapper">
            <div class="editor-container editor-container-sr"></div>
        </div>

    </div>
</div>