<div id="type-determination-discussion" class="survey-content-wrapper hidden">
    <div class="survey-content">

        <!-- task description and hints -->
        <p class="task-description">Bestimmen Sie, ob folgender markierter Ausdruck zulässig ist und geben Sie, sofern
            dies zutrifft, dessen Rückgabe-Typ an!</p>

        <!-- expression -->
        <span class="expression">var.unused == Object.class</span>

        <!-- histogramm -->
        <div class="histogramm-wrapper">
            <div class="histogramm-container"></div>
        </div>

    </div>
</div>