<div id="type-determination-evaluate" class="survey-content-wrapper hidden">
    <div class="survey-content">

        <!-- task description and hints -->
        <p class="task-description">Korrigieren Sie die gegebene Lösung indem Sie ihre Richtigkeit mit dem
            entsprechenden Button bewerten!</p>

        <!-- editor -->
        <div class="task-wrapper">
            <div class="editor-container editor-container-te"></div>
        </div>

        <!-- solution to be evaluated -->
        <form action="">
            <div class="form-group">
                <input type="text" class="form-control" id="solution-te" value="solution" disabled>
            </div>
        </form>

    </div>
</div>