<div id="type-solution-template" class="hidden">
    <div class="card-content">
        <div class="survey-content-wrapper">
            <div class="survey-content">

                <!-- task description and hints -->
                <p class="task-description">Korrigieren Sie die gegebene Lösung indem Sie ihre Richtigkeit mit dem
                    entsprechenden Button bewerten!</p>

                <!-- editor -->
                <div class="task-wrapper">
                    <div class="editor-container editor-container-te"></div>
                </div>

                <!-- solution to be evaluated -->
                <div class="btn-wrapper legal-controls">
                    <div class="btn-wrapper">
                        <button class="btn btn-primary-color btn-togglable controls-legality expression-legal">zulässig</button>
                    </div>
                    <div class="btn-wrapper">
                        <button class="btn btn-primary-color btn-togglable controls-legality expression-illegal">unzulässig</button>
                    </div>
                </div>
                <form action="">
                <form action="">
                    <div class="form-group">
                        <input type="text" class="form-control solution-display" value="solution" disabled>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>