<div id="type-determination-evaluate" class="survey-content-wrapper">
    <div class="survey-content">

        <!-- task description and hints -->
        <p class="task-description">Korrigieren Sie die gegebene Lösung indem Sie ihre Richtigkeit mit dem
            entsprechenden Button bewerten!</p>

        <!-- editor -->
        <div class="task-wrapper">
            <div class="editor-container editor-container-te"></div>
        </div>

        <form action="">
            <div class="form-group">
                <input type="text" class="form-control" id="solution-te" value="solution" disabled>
            </div>
        </form>

        <!-- buttons to evaluate the given solution -->
        <div class="btn-wrapper correctness-controls">
            <button class="btn btn-primary-color controls-correctness btn-correct">
                <i class="material-icons">done</i>
            </button>
            <button class="btn btn-primary-color controls-correctness btn-incorrect">
                <i class="material-icons md-light">clear</i>
            </button>
        </div>

    </div>
</div>