<div id="type-determination-solve" class="survey-content-wrapper hidden">
    <div class="survey-content">

        <!-- task description and hints -->
        <p class="task-description">Bestimmen Sie, ob folgender markierter Ausdruck zul채ssig ist und geben Sie, sofern dies zutrifft, dessen R체ckgabe-Typ an!</p>

        <!-- editor -->
        <div class="task-wrapper">
            <div class="editor-container editor-container-ts"></div>
        </div>

        <!-- form to determine legality and type of expression -->
        <div class="btn-wrapper legal-controls">
            <button id="expression-legal" class="btn btn-primary-color controls-legality">legal</button>
            <button id="expression-illegal" class="btn btn-primary-color controls-legality">unzul채ssig</button>
        </div>
        <form action="">
            <div class="form-group">
                <input type="text" class="form-control" id="type-input" aria-describedby="type-help">
                <small id="type-help" class="form-text text-muted text-centered">Geben Sie den Typ des R체ckgabewerts an</small>
            </div>
        </form>

    </div>
</div>