<div id="type-determination-solve" class="hidden">
    <div class="card-content">
        <div class="survey-content-wrapper">
            <div class="survey-content">

                <!-- task description and hints -->
                <p class="task-description"></p>

                <!-- editor -->
                <div class="task-wrapper">
                    <div class="editor-container editor-container-ts"></div>
                </div>

                <!-- form to determine legality and type of expression -->
                <div class="btn-wrapper legal-controls">
                    <div class="btn-wrapper">
                        <button class="btn btn-primary-color btn-togglable controls-legality expression-legal">zulässig</button>
                    </div>
                    <div class="btn-wrapper">
                        <button class="btn btn-primary-color btn-togglable controls-legality expression-illegal">unzulässig</button>
                    </div>
                </div>
                <form action="">
                    <div class="form-group">
                        <input type="text" class="form-control type-input" aria-describedby="type-help">
                        <small id="type-help" class="form-text text-muted text-centered">Geben Sie den Typ des
                            Rückgabewerts an</small>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>