<div id="type-determination-reveal" class="survey-content-wrapper">
    <div class="survey-content">

        <!-- task description and hints -->
        <p class="task-description">Bestimmen Sie, ob folgender markierter Ausdruck zulässig ist und geben Sie, sofern
            dies zutrifft, dessen Rückgabe-Typ an!</p>

        <!-- editor -->
        <div class="task-wrapper">
            <div class="editor-container editor-container-tr"></div>
        </div>

        <!-- correct solution -->
        <form action="">
            <div class="form-group solution">
                <input type="text" class="form-control" id="solution-te" value="solution" disabled>
                <i class="material-icons">done</i>
            </div>
        </form>

    </div>
</div>