<div id="wait-template" class="hidden">

    <i class="material-icons wait-icon">query_builder</i>
    <p class="task-description">Do this do that and then finally do that so you can do this!</p>

</div>