/* set all global css */
* {
    box-sizing: border-box;
    margin: 0;
    color: #0d0d0d;
    font-family: 'Open Sans', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-flow: column;
    background-color: #eee;
    overflow: hidden;
}



/* header: */
header {
    flex: 0 1 auto;
    height: 2.5rem;
}

.navbar {
    padding: .2rem 1rem;
}

.navbar-brand {
    margin: 0 auto;
    font-weight: 600;
    font-size: 1rem;
}

/* breakpoint */
@media only screen and (min-width:1400px) {

    header {
        height: 3rem;
    }
    .navbar {
        padding: .3rem 1rem;
    }
    
    .navbar-brand {
        font-size: 1.25rem;
    }
}


/* functional css classes */
.hidden {
    display: none;
}

.text-centered {
    text-align: center;
}

.highlighted {
    background-color: #fff350;
}

.bold {
    font-weight: 800;
}

.text-muted .bold {
    color: #6c757d!important;
}



/* colors */
.primary-color {
    color: #ffc107;
}

.bg-primary-color {
    background-color: #ffc107;
}

.light {
    background-color: #ffeda0;
}

.medium {
    background-color: #feb24c;
}

.strong {
    background-color: #f03b20;
}


/* shadows */
.shadow-strong {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2), 0 0 30px 0 rgba(0, 0, 0, 0.19);
}



/* icons */
/* css for material icons */
/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }



/* buttons */
.btn-wrapper {
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn, .btn-lg {
    font-size: 1rem;
    border-radius: .25rem;
}

/* settings for primary and secondary buttons */
/* primary */
.btn-primary-color {
    background-color: #ffc107;
    border-width: 0;
    font-size: 1rem;
    color: #0d0d0d;
    font-weight: 600;
    transition: border-width .1s ease-in, background-color .1s ease-in;
}

.btn-primary-color:hover {
    background-color: #c79100;
    border-width: 0;
    color: #0d0d0d;
}

.btn-primary-color:active {
    background-color: #c79100;
    border-width: 0;
    color: #0d0d0d;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2), 0 0 30px 0 rgba(0, 0, 0, 0.19);
}

.btn-primary-color:focus {
    border-width: 0;
    color: #0d0d0d;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2), 0 0 30px 0 rgba(0, 0, 0, 0.19);
}

/* togglable buttons */
.btn-togglable {
    height: 2.5rem;
    border-width: 0;
    border-style: solid;
    color: white;
}

.btn-primary-color-active {
    border-width: 4px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2), 0 0 30px 0 rgba(0, 0, 0, 0.19);
}

.btn-primary-color-active:disabled {
    opacity: 1;
}

/* expression legal */
.expression-legal {
    background-color: #1976d2;
    border-color: #004ba0;
}

.expression-legal:hover {
    background-color: #004ba0;
    color: white;
}

.expression-legal:active {
    color: white;
    background-color: #004ba0;
    border-width: 4px;
}

.expression-legal:focus {
    color: white;
    border-width: 4px;
}

/* expression illegal */
.expression-illegal {
    background-color: #c62828;
    border-color: #8e0000;
}

.expression-illegal:hover {
    background-color: #8e0000;
    color: white;
}

.expression-illegal:active {
    color: white;
    background-color: #8e0000;
    border-width: 4px;
}

.expression-illegal:focus {
    color: white;
    border-width: 4px;
}

/* secondary */
.btn-secondary-color {
    background-color: #0d47a1;
    border-width: 0;
    color: #fff;
    font-weight: 600;
}

.btn-secondary-color:hover {
    background-color: #002171;
    border-width: 0;
    color: #fff;
}

.btn-secondary-color:active {
    background-color: #002171;
    border-width: 0;
    color: #fff;
    box-shadow: 0 0 0 0;
}

.btn-secondary-color:focus {
    background-color: none;
    border-width: 0;
    color: #fff;
    box-shadow: 0 0 0 0;
}

/* settings for correction buttons */
/* correct */
.btn-correct {
    background-color: #00701a;
    border-color: #00701a;
}

.btn-correct:hover {
    background-color: #004300;
    border-width: 0;
}

.btn-correct:active {
    background-color: #004300;
    border-width: 0;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2), 0 0 30px 0 rgba(0, 0, 0, 0.19);
}

.btn-correct:focus {
    background-color: none;
    border-width: 0;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2), 0 0 30px 0 rgba(0, 0, 0, 0.19);
}

/* incorrect */
.btn-incorrect {
    background-color: #ba000d;
    border-color: #ba000d;
}

.btn-incorrect:hover {
    background-color: #820000;
    border-width: 0;
}

.btn-incorrect:active {
    background-color: #820000;
    border-width: 0;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2), 0 0 30px 0 rgba(0, 0, 0, 0.19);
}

.btn-incorrect:focus {
    background-color: none;
    border-width: 0;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2), 0 0 30px 0 rgba(0, 0, 0, 0.19);
}

/* breakpoint */
@media only screen and (min-width:1400px) {

    .btn, .btn-lg {
        font-size: 1.25rem;
    }

    .btn-togglable {
        height: 3rem;
    }
}


/* inputs */
.form-control, .form-control-lg {
    font-size: 1rem;
}

.input-solution {
    color: #2e7d32;
    border: 4px solid #2e7d32;
}

.input-error {
    color: #c62828;
    border: 4px solid #c62828;
}

/* inputs for showing a solution */
.solution-display {
    color: white;
    font-weight: 800;
    text-align: center;
}

.solution-display:disabled {
    background-color: white;
    border-color: #ffc107;
    border-width: 4px;
}

.solution {
    display: flex;
    justify-content: center;
    align-items: center;
}

.solution i {
    color: #2e7d32;
    width: fit-content;
}

.input-solution:disabled {
    border: 4px solid #2e7d32;
}

/* breakpoint */
@media only screen and (min-width:1400px) {

    .form-control, .form-control-lg {
        font-size: 1.25rem;
    }
}



/* set css for homepage*/
/* code-input-form: */
.code-input-wrapper {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.code-input-wrapper .form-control {
    width: 20%;
    min-width: 150px;
    margin: 0 auto;
    transition: border-width .2s ease-in, border-color .2s ease-in;
}

.code-input-wrapper .form-control:focus {
    border-color: #ffc107;
    border-width: 4px;
    box-shadow: 0px 0px 0px 0px #ffc107;
}

.code-input-wrapper small {
    text-align: center;
}

.code-input-wrapper .btn {
    margin: 0 auto;
}





/* ------------- */
/* survey viewer */
/* ------------- */



/* controls */   
#controls-prev {
    position: absolute;
    left: -5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    line-height: 0;
    z-index: 2;
    width: 5rem;
}

#controls-next {
    position: absolute;
    right: -5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    line-height: 0;
    z-index: 2;
    width: 5rem;
}

.controls-correctness {
    position: relative;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    bottom: -5rem;
    pointer-events: all;
    z-index: 2;
}

#controls-submit {
    width: 10rem;
    position: absolute;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    bottom: -5rem;
    pointer-events: all;
    z-index: 2;
}

.controls-correctness-wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
    pointer-events: none;
}

.controls-correctness-wrapper .btn-wrapper {
    pointer-events: none;
    width: 10rem;
    display: flex;
    align-items: flex-end;
}

.controls-submission-wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
    pointer-events: none;
}

.controls-submission-wrapper.hidden {
    display: none;
}

.controls {
    width: 3.5rem;
    height: 3.5rem;
}



/* status bar */
.status-bar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding-top: 2vh;
}

#status-bar {
    height: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-wrapper {
    width: 5vw;
    float: left;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.status-connection-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-circle {
    flex: 0 1 auto;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #bbb;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .5s ease-in, width .3s ease-in, height .3s ease-in;
}

.status-circle-active {
    width: 19px;
    height: 19px;
}

.status-inner-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-inner-inner-circle {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #bbb;
    transition: background-color .5s ease-in;
}

.status-connection {
    flex: 1 1 auto;
    height: 2px;
    background-color: #bbb;
}

.status-connection-filler {
    flex: 1 1 auto;
}

#status-bar-stages {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stage {
    height: .8rem;
    width: 5vw;
}

.stage-text {
    text-align: center;
    font-weight: 600;
    font-size: .6rem;
    color: #666;
}

/* set colors for stages */    
.solve-color, .solve-color-btn, .status-circle.solve-color, .status-circle.solve-color .status-inner-inner-circle, .solve-color-btn:focus {
    background-color: #1976d2;
    border-color: #1976d2;
}

.solve-color-btn:hover, .solve-color-btn:active {
    background-color: #004ba0;
}

.evaluate-color, .evaluate-color-btn, .status-circle.evaluate-color, .status-circle.evaluate-color .status-inner-inner-circle, .evaluate-color-btn:focus, .solution-display.evaluate-color:disabled {
    background-color: #c2185b;
    border-color: #c2185b;
}

.evaluate-color-btn:hover, .evaluate-color-btn:active {
    background-color: #8c0032;
}

.evaluate-font-color {
    color: #c2185b;
    font-weight: 800;
}

.discussion-color, .status-circle.discussion-color, .status-circle.discussion-color .status-inner-inner-circle {
    background-color: #ff5722;
    border-color: #ff5722;
}

.editor-container.discussion-color .CodeMirror {
    border-color: #ff5722;
}

.reveal-color, .status-circle.reveal-color, .status-circle.reveal-color .status-inner-inner-circle, .progress-bar, .solution-display.reveal-color:disabled {
    background-color: #2e7d32;
    border-color: #2e7d32;
}

.card-content .CodeMirror.editor-solution, .editor-container.reveal-color .CodeMirror {
    border-color: #2e7d32;
}

/* type display */
.type-display-wrapper {
    position: absolute;
    right: 0;
    font-size: .7rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-right: 1rem;
    width: 8rem;
    height: 100%;
}

.type-display-wrapper.hidden {
    display: none;
}

.type-display {
    font-size: .6rem;
    height: 2rem;
    color: #666;
}

.type-display-description {
    color: #666;
}

.type-display-wrapper i {
    background-color: #BBB;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-display-wrapper i.material-icons {
    color: #eee;
    font-size: 1.5rem;
}

/* breakpoint */
@media only screen and (min-width:1400px) {

    .status-circle {
        width: 14px;
        height: 14px;
    }
    
    .status-circle-active {
        width: 24px;
        height: 24px;
    }
    
    .status-inner-circle {
        width: 18px;
        height: 18px;
    }
    
    .status-inner-inner-circle {
        width: 14px;
        height: 14px;
    }

    .stage-text {
        font-size: .7rem;
    }

    .status-wrapper {
        width: 4.3vw;
    }

    .stage {
        width: 4.3vw;
    }
}



/* cards */   
.content-area {
    flex: 1 1 auto;
    position: relative;
    display: flex;
    align-items: center;
}

#cards-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}

.survey-card {
    height: 100%;
    width: 100%;
    padding: 1vh 6vw 6vh 6vw;
    position: absolute;
    left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    z-index: 1;
}

.card-content {
    max-width: 900px;
    height: 100%;
    border-radius: 1.5rem;
    border-width: 1.5rem;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-style: solid;
    box-shadow: 0px 0px 9px -3px rgba(0,0,0,0.53);
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
}

.survey-content-wrapper {
    flex: 1 1 auto;
    height: 100%;
    padding: 2rem;
}

.survey-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
}

.task-description {
    font-weight: 600;
    font-size: 1rem;
    background-color: inherit;
    border-width: 0;
    border-bottom-width: 2px;
    border-style: solid;
    flex: 0 1 auto;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
}

.tool-description {
    font-size: 0.7rem;
    margin-bottom: .5rem;
}

.task-wrapper {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    padding: 1vh 5%;
}

.card-content .btn-wrapper {
    flex: 0 1 auto;
}

.edited-by {
    height: 2.5rem;
    padding: 0 1rem 0 1rem;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    margin-bottom: 6vh; 
    border-radius: .25rem;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    display: flex;
    align-items: center;
}

.edited-by .text {
    color: white;
    font-weight: 600;
}

.edited-by .material-icons {
    font-size: 1.8rem;
}

/* breakpoint */
@media only screen and (min-width:1400px) {

    .card-content {
        max-width: 1150px;
    }

    .survey-content-wrapper {
        padding: 2.5rem;
    }
    
    .task-description {
        font-size: 1.2rem;
    }

    .tool-description {
        font-size: 0.8rem;
    }
}



/* CodeMirror settings */

.editor-container {
    height: 100%;
    flex: 1 1 auto;
}

.card-content .CodeMirror {
    height: 100%;
    border: 1px solid #0d0d0d;
    background-color: #fafafa;
    border-radius: .25rem;
    padding: .25rem;
    font-size: 0.8rem;
}

.CodeMirror span {
    font-family: 'Roboto Mono', 'Consolas';
}

/* .CodeMirror.cm-s-default .cm-keyword {
    color: #018571;
}

.CodeMirror.cm-s-default .cm-type {
    color: #a6611a;
}

.CodeMirror.cm-s-default .cm-def {
    color: #80cdc1;
} */

/* breakpoint */
@media only screen and (min-width:1400px) {

    .card-content .CodeMirror {
        padding: .5rem;
        font-size: 0.9rem;
    }
}



/* wait view */
#wait-phase.survey-card {
    left: 0;
    z-index: 0;
}

#wait-phase .task-description {
    color: #666;
    border: none;
    font-weight: 800;
}

#wait-phase i {
    color: #666;
    font-size: 16vh;
}



/* syntax highlighting tools */
.tools-wrapper {
    flex: 0 1 auto;
    width: 6rem;
    display: flex;
    flex-flow: column;
    margin-left: .5rem;
}

.tools-wrapper .btn-wrapper {
    width: 100%;
    height: 6rem;
}

.tools-wrapper .btn {
    width: 4rem;
    height: 4rem;

}

.tools-wrapper i {
    font-size: 2rem;
}

/* breakpoint */
@media only screen and (min-width:1400px) {

    .tools-wrapper {
        width: 8rem;
    }
    
    .tools-wrapper .btn-wrapper {
        height: 8rem;
    }
    
    .tools-wrapper .btn {
        width: 6rem;
        height: 6rem;
    
    }
    
    .tools-wrapper i {
        font-size: 3rem;
    }
}



/* legend */
.legend-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    border-radius: .25rem;
    width: fit-content;
    margin: 0 auto;
}

.legend {
    margin: 0 1rem;
    display: flex;
    align-items: center;
    font-size: .6rem;
}

.legend-color {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    float: left;
    margin: .5rem;
}

/* breakpoint */
@media only screen and (min-width:1400px) {

    .legend {
        font-size: .8rem;
    }
    
    .legend-color {
        width: 10px;
        height: 10px;
        margin: .5rem;
    }
}



/* type determination solve form */
.legal-controls .btn-wrapper {
    width: 10rem;
}

.controls-legality {
    width: 8rem;
}

.survey-content .form-control {
    width: 30%;
    min-width: 250px;
    margin: 0 auto;
    transition: border-width .1s ease-in;
}

.survey-content .form-control:focus {
    border-color: #ffc107;
    border-width: 4px;
    box-shadow: 0px 0px 0px 0px #ffc107;
}

/* breakpoint */
@media only screen and (min-width:1400px) {

    .legal-controls .btn-wrapper {
        width: 12rem;
    }

    .controls-legality {
        width: 10rem;
    }
}



/* type determination expression */
.expression {
    text-align: center;
    flex: 0 1 auto;
    font-size: 1.5rem;
    width: fit-content;
    margin: 0 auto;
    border-radius: .25rem;
    background-color: #fff350;
    padding: .5rem;
}

/* breakpoint */
@media only screen and (min-width:1400px) {

    .expression {
        font-size: 2rem;
    }   
}



/* histogramm */
.histogramm-wrapper {
    flex: 1 1 auto;
    padding: 1vw 8vw;
}

.histogramm-container {
    height: 100%;
}

g text {
    font-size: 1rem;
    font-weight: 600;
}



/* microtask editors */
#microtask-discussion .task-wrapper{
    flex-flow: column;
    padding: 1vh 0;
}

.editors {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.progress-bars {
    flex: 0 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.editor-container-md {
    margin: 0 2vw;
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
}

.progress {
    width: 100%;
    height: .7rem;
    margin: .9rem 4vw 0 4vw;
    background-color: #c62828;
}

.progress-bar {
    font-size: .6rem;
}

.editor-container {
    border-radius: .25rem;
}

.editor-container-correct .CodeMirror {
    border-width: 4px;
    border-style:  solid;
}

.editor-container-controversial .CodeMirror {
    border: 4px solid #ffc107;
}

.CodeMirror.editor-solution {
    border-width: 4px;
    border-style: solid;
}