/* set all global css */
* {
    box-sizing: border-box;
    margin: 0;
    color: #0d0d0d;
    font-family: 'Open Sans', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-flow: column;
    background-color: #eee;
}

.primary-color {
    color: #ffc107;
}

.bg-primary-color {
    background-color: #ffc107;
}

.shadow-strong {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hidden {
    display: none;
}

.text-centered {
    text-align: center;
}

/* settings for primary and secondary buttons */
.btn-wrapper {
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary-color {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #0d0d0d;
    transition: border-width .1s ease-in, background-color .1s ease-in;
}

.btn-primary-color:hover {
    background-color: #c79100;
    border-color: #c79100;
    color: #0d0d0d;
}

.btn-primary-color:active {
    background-color: #c79100;
    border-color: #ffc107;
    border-width: 4px;
    color: #0d0d0d;
    font-weight: 600;
    box-shadow: 0 0 0 0;
}

.btn-primary-color:focus {
    background-color: #c79100;
    border-color: #ffc107;
    border-width: 4px;
    color: #0d0d0d;
    font-weight: 600;
    box-shadow: 0 0 0 0;
}

.btn-secondary-color {
    background-color: #0d47a1;
    border-color: #0d47a1;
    color: #fff;
    transition: border-width .1s ease-in, background-color .1s ease-in;
}

.btn-secondary-color:hover {
    background-color: #002171;
    border-color: #002171;
    color: #fff;
}

.btn-secondary-color:active {
    background-color: #002171;
    border-color: #0d47a1;
    border-width: 4px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 0 0;
}

.btn-secondary-color:focus {
    background-color: #002171;
    border-color: #0d47a1;
    border-width: 4px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 0 0;
}

/* settings for correction buttons */
.btn-correct {
    background-color: #1B5E20;
    border-color: #1B5E20;
}

.btn-incorrect {
    background-color: #B00020;
    border-color: #B00020;
}

.controls-correctness i{
    color: #fff;
}

/* header: */
header {
    flex: 0 1 auto;
}

.navbar-brand {
    margin: 0 auto;
    font-weight: 600;
}



/* set css for homepage*/

/* code-input-form: */
.code-input-wrapper {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.code-input-wrapper form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.code-input-wrapper .form-control {
    width: 20%;
    min-width: 150px;
    margin: 0 auto;
    transition: border-width .1s ease-in;
}

.code-input-wrapper .form-control:focus {
    border-color: #ffc107;
    border-width: 4px;
    box-shadow: 0px 0px 0px 0px #ffc107;
}

.code-input-wrapper small {
    text-align: center;
}

.code-input-wrapper .btn {
    margin: 0 auto;
}



/* set css for survey viewer */

.content-area {
    flex: 1 1 auto;
    position: relative;
    display: flex;
    align-items: center;
}

.view-wrapper {
    height: 100%;
    width: 100%;
    padding: 5vw 3vw;
}

.view-container {
    height: 100%;
    border-radius: .25rem;
    box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.53);
    background-color: #fff;
}

/* controls */

.controls-prev {
    position: absolute;
    left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.controls-next {
    position: absolute;
    right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.controls-correctness {
    position: relative;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0 5vw;
}

.controls.controls-submit {
    width: 10rem;
    position: relative;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.controls-correctness-wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
}

.controls-correctness-wrapper-hidden {
    display: none;
}

.controls-submission-wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
}

.controls-submission-wrapper-hidden {
    display: none;
}

.controls {
    width: 3rem;
}

/* overlapping css rules for sub views of survey viewer*/

.survey-content-wrapper {
    height: 100%;
    padding: 3rem;
}

.survey-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
}

.task-description {
    font-weight: 600;
    font-size: 1.2rem;
    border-bottom: 2px solid #ffc107;
    flex: 0 1 auto;
}

.tool-description {
    font-size: 0.8rem;
}

.task-wrapper {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    padding: 1vw 8vw;
}

.editor-container {
    height: 100%;
    flex: 1 1 auto;
}

.view-container .btn-wrapper {
    flex: 0 1 auto;
}

.view-container .CodeMirror {
    height: 100%;
    border: 1px solid #0d0d0d;
    background-color: #fafafa;
    border-radius: .25rem;
    padding: .5rem;
}

/* css for syntax-highlighting */

.tools-wrapper {
    flex: 0 1 auto;
    width: 10rem;
    display: flex;
    flex-flow: column;
    margin-left: .5rem;
}

/* css for type-determination */

.controls-legality {
    margin: 0 2rem;
    width: 10rem;
}

.survey-content .form-control {
    width: 30%;
    min-width: 250px;
    margin: 0 auto;
    transition: border-width .1s ease-in;
}

.survey-content .form-control:focus {
    border-color: #ffc107;
    border-width: 4px;
    box-shadow: 0px 0px 0px 0px #ffc107;
}

.expression {
    text-align: center;
    flex: 0 1 auto;
    font-size: 2rem;
    width: fit-content;
    margin: 0 auto;
    border-radius: .25rem;
    background-color: #fff350;
    padding: .5rem;
}

.histogramm-wrapper {
    flex: 1 1 auto;
    padding: 1vw 8vw;
}

.histogramm-container {
    height: 100%;
}

.solution {
    display: flex;
    justify-content: center;
    align-items: center;
}

.solution i {
    color: #1B5E20;
    width: fit-content;
}

.solution .form-control {
    color: #1B5E20;
    background-color: rgb(181, 255, 186);;
    border: 4px solid #1B5E20;
    margin: 0 .5rem 0 0;
}