<%- include('partials/html-header'); -%>
<%- include('partials/header') -%>

<div class="view-wrapper">
    <div class="view-container">
        <%- include('partials/survey-viewer/syntax-highlighting-solve')
    </div>
</div>

<%- include('partials/html-close') -%>

<script type="module" src="/js/indexViewer.js"></script>